.layout-header{
    background-color: #535050;
    padding: 20px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.layout-footer{
    background-color: #535050;
    padding: 20px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.signIn, .signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}